:root {
  --primary-color: rgba(21, 146, 7);
  --secondary-color: #3b3b40;
}

html,
body {
  background-color: #f1f1f1;
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 50px auto;
}
